* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#HeaderDiv {
    background-color: blue;
    height: 100px;
}

#HeaderText {
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 20px;
}

.lists {
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 10px;
} 


.lists .listheader {
    color: brown;
    font-size: 80;
}



ul {
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 30px;
}

li {
    padding-bottom: 10px;
    padding-right: 40px;
}