* {
    box-sizing: border-box;
}

#HeaderDiv {
    background-color: blue;
    
}
#HeaderText {
    color: white;
    text-align: center;
    margin-top:0 ;
    
}
#ToDoList {
    color: black;
    text-align: right;
}
#Add {
    color: brown;
    background-color: rgb(182, 176, 176);
    text-align: center;
    width: auto;
    height: 100px;

}
body {
    margin: 0;
}