* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#HeaderDiv {
    background-color: blue;
    
}

#HeaderText {
    color: white;
    text-align: center;
    margin-top:0 ;
}

.lists {
    text-align: center;
    
} h1 {
    color: brown;
}



